
body {
 margin-right: 50px;
 margin-left: 50px;
 margin-top: auto;
 width: 680px;
 font-size: 14px;
 font-family: Helvetica, Arial, sans-serif;
 text-overflow:ellipsis;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
}

ul{
  margin-left: 0px;
  margin-right: 0px;
  list-style-type: none;
} 

ul li {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.neg{
    background-color: pink;
    color: black;
}

.pos{
    background-color: yellow;
    color: black;
}